* {
    box-sizing: border-box;
    background-color: #0F172A;
    color: #F8FAFC;
}

.sec__detail {
    margin: 0 auto;
    width: 1200px;

    .detail {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin: 0px 2em;

        &__img {
            .attach {
                display: flex;
                align-items: center;
                justify-content: center;

                .type__movie {
                    font-family: "Anton", sans-serif;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    position: absolute;
                    top: 0;
                    left: 0;

                    .txt {
                        padding: 8px;
                        background-color: #FF9933;
                        color: #0F172A;
                    }

                    .num {
                        background-color: #FF0033;
                        padding: 8px;
                    }
                }

            }
        }
    }

    .detail__info>div,
    .detail__info>ul {
        margin-bottom: 30px;
    }

    .detail__info {

        margin: 0px 2em;


        h3 {
            font-family: "Josefin Sans", sans-serif;
        }

        * {
            margin-bottom: 10px;
        }

        &--title h1 {
            font-family: "Anton", sans-serif;
            font-size: 3em;
            margin-top: 20px;
        }

        &--detail {
            padding-left: 0px;

            li {
                font-size: 1.2em;
                text-decoration: none;
                list-style: none;
                font-family: "Josefin Sans", sans-serif;

                span {
                    margin-left: 20px;
                }
            }
        }

        &--content p {
            font-family: "Josefin Sans", sans-serif;
            line-height: 1.5em;
        }

        &--describe {

            &--detail {
                padding-left: 0px;

                li {
                    font-family: "Josefin Sans", sans-serif;

                    list-style: none;
                }
            }
        }

        &--trailer {
            * {
                margin-bottom: 0px;
                margin-right: 8px;
            }

            img {
                width: 35px;
            }

            a {
                font-family: "Josefin Sans", sans-serif;
                text-decoration: none;
                font-size: 1.2em;
            }

            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
        }
    }
}

//
.detail__img {
    position: relative;
}

// 
.sh__time--wrapper {
    .shtime__header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;

        &--title {
            font-family: "Anton", sans-serif;
        }

        &--timelist {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .box-time {
                margin-right: 20px;
                margin-left: 20px;
                background-color: #F3EA28;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                font-family: "Josefin Sans", sans-serif;
                padding: 20px;
                border-radius: 10px;

                .date-time {
                    margin-bottom: 20px;
                    font-weight: bold;
                    font-size: 1.2em;
                }

                .date-time span,
                .day-time span {
                    color: #663399;
                    background-color: #F3EA28;
                }

            }

            ;
        }
    }

    .shtime__body--header {
        h2 {
            font-family: "Anton", sans-serif;
            margin-left: 0px;
        }

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .list__cinestar {
            &>i {
                color: #F3EA28;
            }

            #list {
                color: #F3EA28;
                padding: 10px;
                border: none;
            }
        }
    }

    .item__cinestar {
        background-color: #663399;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        * {
            background-color: #663399;
        }

        width: 60%;
        margin: 0 auto;
        padding: 0 20px;
        margin-bottom: 16px;
        padding-bottom: 16px;

        .title__cinestar {
            h2 {
                font-family: "Josefin Sans", sans-serif;
                margin-left: 0px;
                color: #F3EA28;
                margin-bottom: 0;
            }

            input[type="radio"] {
                display: none;
            }

            .collapse__shtime {
                overflow: hidden;
                max-height: 0;
                transition: all 0.4s ease-out;

                .list__shtime li {
                    margin-bottom: 16px;
                    list-style: none;
                }

                .tt {
                    margin-bottom: 16px;
                }

                .list__shtime {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: row;
                    padding-left: 0;

                    li {
                        padding: 8px 10px;
                        border-radius: 5px;
                        color: white;
                        border: 1px solid white;
                        cursor: pointer;

                        &:hover {
                            color: #F3EA28;
                            border: 1px solid #F3EA28;
                            transition: all 0.2s ease-in;
                        }
                    }
                }
            }
        }
    }
}

//phần tử có cả enable và disable
.shtime__item.enable {
    // font-size: 1.1em;
    color: #F3EA28 !important;
    border: 1px solid #F3EA28 !important;
    background-size: 100% 100%;
}

.title__cinestar {
    input[type="radio"]:checked+label+.collapse__shtime {
        max-height: 400px;
        padding-bottom: 20px;
    }
}

// 

.ticket {
    .ticket-choice {
        text-align: center;
        margin-top: 44px;
        padding-bottom: 17px;
    }
}

.wrapper__ticket--box {
    margin: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .ticket__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid #94A3B8;
        padding: 15px 37px;
        border-radius: 5px;
        margin: 0 15px;
        width: 15%;

        * {
            margin-bottom: 10px;
        }

        &:hover {
            border: 2px solid #F3EA28;
            transition: all 0.2s ease-in;
        }

        .content__bottom {

            padding: 10px 15px;
            width: 70%;
            border-radius: 5px;
            background-color: #94A3B8;
            cursor: pointer;

            .count {
                text-align: center;
                align-items: center;
                display: flex;
                flex-direction: row;
                margin-bottom: 0;
                justify-content: space-between;
                background-color: #94A3B8;

                * {
                    color: #0F172A;
                    font-size: 1.2em;
                    background-color: #94A3B8;
                    margin-bottom: 0;
                }

                .minus_f,
                .plus_f,
                .minus_s,
                .plus_s,
                .minus_t,
                .plus_t {
                    width: 1em;
                    height: 1em;
                    border-radius: 50%;

                    &:hover {
                        background-color: #663399;
                    }
                }
            }
        }
    }
}





//css for ceat

.seat__main {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .seat__table {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .seat__row {
            display: flex;

        }
    }
}

.seat__single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.seat__row {
    display: flex;
}

.empty {
    width: 40px;
}

.seat__couple {
    width: 80px;
    margin-left: 6px;
    height: 34.61px;
    cursor: pointer;

    img {
        height: 100%;
    }

    justify-content: center;
    align-items: center;
    text-align: center;
}

.seat__table span {
    font-size: 12px;
    font-family: "Josefin Sans", sans-serif;
}

.seat__block {
    position: relative;
    margin: 3em auto;
    width: 70%;

    img {
        width: 100%;
    }

    .txt {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2em;
        font-family: "Josefin Sans", sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.seat__heading {
    text-align: center;
    font-size: 2em;
    font-family: "Josefin Sans", sans-serif;
}

.ticket__item {
    font-family: "Josefin Sans", sans-serif;

}

.collapse__shtime {
    font-family: "Josefin Sans", sans-serif;

}

.modal {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#popup__wrapper {
    z-index: 99;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 90%;
    // display: none;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 5px;
    background-color: #3E5AC0;
    color: white;
    font-size: 1.4em;

    .noti__btn {
        margin-top: 20px;
        border-radius: 5px;
        background-color: #F3EA28;
        cursor: pointer;

        .txt {
            background-color: #F3EA28;
            color: #0F172A;
            font-size: 1.4em;
        }
    }
}

.dp-none {
    display: none !important;
}

.dp-block {
    display: block !important;
}