* {
  box-sizing: border-box;
  background-color: #0F172A;
  color: #F8FAFC; }

.sec__detail {
  margin: 0 auto;
  width: 1200px; }
  .sec__detail .detail {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0px 2em; }
    .sec__detail .detail__img .attach {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      border: 1px solid red;
      padding: 15px; }
      .sec__detail .detail__img .attach .type__movie span,
      .sec__detail .detail__img .attach .age > span {
        font-family: "Anton", sans-serif;
        border: 1px solid black;
        padding: 10px 10px;
        border-radius: 10px; }
      .sec__detail .detail__img .attach .type__movie {
        background-color: #FF9933; }
  .sec__detail .detail__info > div,
  .sec__detail .detail__info > ul {
    margin-bottom: 30px; }
  .sec__detail .detail__info {
    margin: 0px 2em; }
    .sec__detail .detail__info h3 {
      font-family: "Josefin Sans", sans-serif; }
    .sec__detail .detail__info * {
      margin-bottom: 10px; }
    .sec__detail .detail__info--title h1 {
      font-family: "Anton", sans-serif;
      font-size: 3em;
      margin-top: 20px; }
    .sec__detail .detail__info--detail {
      padding-left: 0px; }
      .sec__detail .detail__info--detail li {
        font-size: 1.2em;
        text-decoration: none;
        list-style: none;
        font-family: "Josefin Sans", sans-serif; }
        .sec__detail .detail__info--detail li span {
          margin-left: 20px; }
    .sec__detail .detail__info--content p {
      font-family: "Josefin Sans", sans-serif;
      line-height: 1.5em; }
    .sec__detail .detail__info--describe--detail {
      padding-left: 0px; }
      .sec__detail .detail__info--describe--detail li {
        font-family: "Josefin Sans", sans-serif;
        list-style: none; }
    .sec__detail .detail__info--trailer {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center; }
      .sec__detail .detail__info--trailer * {
        margin-bottom: 0px;
        margin-right: 8px; }
      .sec__detail .detail__info--trailer img {
        width: 35px; }
      .sec__detail .detail__info--trailer a {
        font-family: "Josefin Sans", sans-serif;
        text-decoration: none;
        font-size: 1.2em; }
